.apt-features {
  padding: 20px 50px;
}
.features-heading h3 {
  font-size: 4.8rem;
  font-weight: 700;
  margin: 30px;
  text-align: center;
}
.features-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.features-box-text {
  display: none;
}
